  <!DOCTYPE html>
<html>
<body>
<div class="card mb-3 border-primary border-left-0">
    <div class="row">
      <div class="col">
        <div class="card-body">

          <p class="card-text"><strong>Objet : </strong><%= @email.object %></p>
          <p class="card-text">Contenu du mail :<%= @email.body %></p>

          <div class="form" style="width: 200px;">
  <%= form_tag(emails_path, method: :post, remote: true) do %>
     <%= submit_tag 'Supprimer', :name => 'commit'%>
     <%= submit_tag 'Marquer comme non-lu', :name => 'commit'%>
    <% end %>
</div>
        </div>
      </div>
    </div>
  </div>
</div>

